// ——————————————————————————————————————————————————
// layout and elements
// components overrides
// ——————————————————————————————————————————————————

// ——————————————————————————————————————————————————
// layout and elements
// ——————————————————————————————————————————————————

.docs {

  &__colorBlock,
  &__textBlock {
    display: block;
    border-radius: 4px;
    padding: 0 4px;
  }
  
  &__colorBlock {
    width: 20px;
    height: 20px;
  }
  
  &__example {

    @include responsive(up, tablet) {
      position: absolute;
      right: 0;
      bottom: 50%;
      transform: translateY(50%);
    }

    @include responsive(down, tablet) {
      margin-top: 40px;
    }
  }
}

// ——————————————————————————————————————————————————
// components overrides
// ——————————————————————————————————————————————————

.docs {

  &__accordion,
  &__alert,
  &__card,
  &__grid {
    width: 360px;
  }

  &__anchors {

    .anchor {
      background-color: #FFFFFF;
    }
  }

  &__link img {
    height: 20px;
    width: 20px;
  }

  &__tabs {
    margin: 0;
  }
}