// ——————————————————————————————————————————————————
// sizes
// breakpoints
// ——————————————————————————————————————————————————

// ——————————————————————————————————————————————————
// sizes
// ——————————————————————————————————————————————————

$spacing: 0.5rem;

// ——————————————————————————————————————————————————
// breakpoints
// ——————————————————————————————————————————————————

$desktop-lg-up: 1440px;
$desktop-lg-down: 1439.98px;

$desktop-up: 1280px;
$desktop-down: 1279.98px;

$laptop-up: 1024px;
$laptop-down: 1023.98px;

$tablet-up: 768px;
$tablet-down: 767.98px;

$mobile-up: 568px;
$mobile-down: 567.98px;

$mobile-sm-up: 350px;
$mobile-sm-down: 349.98px;
