// ——————————————————————————————————————————————————
// ship to webapp
// overrides
// ——————————————————————————————————————————————————

// ——————————————————————————————————————————————————
// ship to webapp
// ——————————————————————————————————————————————————

.editor {

  table,
  blockquote,
  .highlighter-rouge {

    &:not(:first-child) { margin-top: 1rem; }
  }

  table {
    border-collapse: separate;
    border: 1px solid rgba(#8C8C96, 0.2);
    border-radius: 8px;
  }

  thead {
    background-color: #EFF0F2;
  }

  td,
  th {
    padding: 4px 8px;
    border-top: 1px solid rgba(#8C8C96, 0.2);
    
    &:not(:first-child) {
      border-left: 1px solid rgba(#8C8C96, 0.2);
    }
  }

  th {
    // @extend .overline;
    font-size: 0.75rem;
    font-weight: bold;
    color: #8C8C96;
    border-top: none;

    &:first-of-type { border-top-left-radius: 8px; }
    &:last-of-type { border-top-right-radius: 8px; }
  }

  blockquote {
    background-color: #F8F8F8;
    color: #262F40;
    padding: 12px 16px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left: 8px solid #D7D7DC;
    max-width: 600px;
  }
}

// ——————————————————————————————————————————————————
// overrides
// ——————————————————————————————————————————————————

.editor {

  h2 {
    border-bottom: 2px solid #F2F3F4;
    padding-bottom: 1rem;

    &:not(:first-child) { margin-top: 3rem; }
    &:not(:last-child) { margin-bottom: 2rem; }
  }

  p {
    max-width: 600px;
  }
}