<nav class="section navbar">
  <div class="section__container">
    <div class="navbar__button js-button-menu button--menu show--desktop">
      <i class="button__inner"></i>
    </div>
    <div class="navbar__logo">
      <a href="{% link index.html %}" class="logo-link">
        <span class="logo">
          <img src="https://www.bluto.co.uk/images/ui/logo-bluto-large-color.svg" width="97" height="40" alt="Bluto" class="img-fluid logo">
          <!-- <img src="{{ site.base-url }}/assets/offline/bluto.svg" width="97" height="40" alt="Bluto" class="img-fluid logo"> -->
        </span>
      </a>
    </div>
    <div class="navbar__nav nav">
      <div class="nav__container">
        <div class="nav__items">
          <div class="nav__item">
            <a class="nav__trigger" href="{% link index.html %}">Home</a>
          </div>
          <div class="nav__item dropdown">
            <a class="nav__trigger" href="/" id="dropdown-documentation" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span>Documentation</span>
            </a>
            <div class="subnav dropdown-menu" aria-labelledby="dropdown-documentation">
              {% for page in site.documentation %}
              <a class="subnav__item" href="{{ page.url }}">{{ page.title }}</a>
              {% endfor %}
            </div>
          </div>
          <div class="nav__item dropdown">
            <a class="nav__trigger" href="/" id="dropdown-utils" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span>Utils</span>
            </a>
            <div class="subnav dropdown-menu" aria-labelledby="dropdown-utils">
              {% for page in site.utils %}
              <a class="subnav__item" href="{{ page.url }}">{{ page.title }}</a>
              {% endfor %}
            </div>
          </div>
          <div class="nav__item dropdown">
            <a class="nav__trigger" href="/" id="dropdown-components" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span>Components</span>
            </a>
            <div class="subnav dropdown-menu" aria-labelledby="dropdown-components">
              {% for page in site.components %}
              <a class="subnav__item" href="{{ page.url }}">{{ page.title }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
