<nav class="section navbar">
  <div class="section__container">
    <div class="navbar__button js-button-menu button--menu show--desktop">
      <i class="button__inner"></i>
    </div>
    <div class="navbar__logo">
      <a href="{% link index.html %}" class="logo-link">
        <span class="logo">
          <img src="https://www.bluto.co.uk/images/ui/logo-bluto-large-color.svg" width="97" height="40" alt="Bluto" class="img-fluid logo">
        </span>
      </a>
    </div>
    <div class="navbar__nav nav">
      <div class="nav__container">
        <div class="nav__items">
          <div class="nav__item">
            <a class="nav__trigger" href="{% link index.html %}">Home</a>
          </div>
          <div class="nav__item dropdown">
            <div class="nav__trigger" id="dropdown-documentation" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span>Documentation</span>
            </div>
            <div class="subnav dropdown-menu" aria-labelledby="dropdown-documentation">
              <!-- <a class="subnav__item" href="">Tech stack</a> -->
              <a class="subnav__item" href="{% link _documentation/conventions.md %}">Conventions</a>
              <!-- <a class="subnav__item" href="">CSS architecture</a> -->
            </div>
          </div>
          <!-- <div class="nav__item dropdown">
            <div class="nav__trigger" id="dropdown-common" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span>Common</span>
            </div>
            <div class="subnav dropdown-menu" aria-labelledby="dropdown-common">
              <a class="subnav__item" href="">Variables</a>
              <a class="subnav__item" href="">Mixins</a>
              <a class="subnav__item" href="">Global</a>
            </div>
          </div> -->
          <div class="nav__item dropdown">
            <div class="nav__trigger" id="dropdown-components" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span>Components</span>
            </div>
            <div class="subnav dropdown-menu" aria-labelledby="dropdown-components">
              <a class="subnav__item" href="{% link _components/alert.md %}">Alert</a>
              <a class="subnav__item" href="{% link _components/button.md %}">Button</a>
              <a class="subnav__item" href="{% link _components/card.md %}">Card</a>
              <a class="subnav__item" href="{% link _components/section.md %}">Section</a>
              <a class="subnav__item" href="{% link _components/text.md %}">Text</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
