---
layout: compress
---

{% include containers/header.html %}

<div class="section section--secondary-lighter">
  <div class="section__container">
    <div class="section__header">
      {% if page.label %}
      <p class="caption section__label">{{ page.label }}</p>
      {% endif %}
      <h1 class="h2 section__title">{{ page.title }}</h1>
      {% if page.subtitle %}
      <p class="section__subtitle">{{ page.subtitle }}</p>
      {% endif %}
    </div>
    {% if page.example %}
    <div class="docs__example">{{ page.example }}</div>
    {% endif %}
  </div>
</div>

<div class="section">
  <div class="section__container">
    <div class="section__content">
      <div class="editor">
        {{ content }}
      </div>
    </div>
  </div>
</div>

{% include containers/footer.html %}
